body{
    margin-top: 70px;;
    font-family:"Tilt Neon" ;
}
#brand{
     font-family: "Neonderthaw"; 
     color:#844fb0;
     font-size: 6em;

}
#brand:hover {
    color:#320053;
    
    
}
/* img{
    width:300px;
} */
.navbar-toggler{
    border-style:none;
}
#nav0,#nav1,#nav2,#nav3,#brand,#fbrand{
    /* font-family: "Neonderthaw"; */
    color:#844fb0;
    font-size: 2rem;
}
#brand:hover{
    color:#7c16cf;
}

#main-section{
    font-family:"Tilt Neon",serif ;
    color:#7984d4 ;
}
#photos-title ,#relaxing-photos h2{
    font-family:"Tilt Neon",serif ;

}

footer{
    font-family: "Tilt Neon";
}
