body{
    margin-top: 70px;
    font-family: "Playpen Sans Arabic" ;
    direction: rtl;
}
/* img{
    width:320px;
} */
#nav0,#nav1,#nav2,#nav3,#brand,#fbrand{
    /* font-family: "Neonderthaw"; */
    color:#844fb0;
    font-size: 2rem;
        font-family: "Playpen Sans Arabic" ;

}
/* #nav1{
        font-family: "Playpen Sans Arabic" ;

} */
#brand{
    font-family: Neonderthaw;
}
#brand:hover{
    color:#7c16cf;
}
.navbar-toggler{
    border-style:none;
}
#logo{
    font-family: "Neonderthaw"; 
    color:#844fb0;
}

#main-section{
    /* font-family:"Tilt Neon",serif ; */
    color:#7984d4 ;
    height: 580px;
}
#main-section h1{
    margin-top:150px;
    width:1000px;
}
/* #photos-title ,#relaxing-photos h2{
    font-family:"Tilt Neon",serif ;

} */
 #relaxing-videos{
    height:800px
 }
 #relaxing-photos{
    margin-top:300px;
 }

footer{
    font-family: "Tilt Neon";
}
